.form {
    width: 55%;
    padding: 2rem 3rem;
}

.form h1 {
    font-size: 3rem;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 4rem;
}

.form__control {
    margin: 3rem 0;
}

.form__control label {
    display: block;
    padding-bottom: 1rem;
    font-size: 1.6rem;
}

.form__control > .form__input {
    height: 4rem;
    max-width: 40rem;
    width: 90%;
    outline: none;
    border: none;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    transition: all .2s;
    border-radius: 4px;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, .15);
}

.form__control input:focus {
    border-bottom: 2px solid var(--tertiary-color);
}

.form__control input[type="submit"] {
    background-color: var(--primary-color);
    color: #FFF;
    cursor: pointer;
    transition: all .2s;
    text-transform: uppercase;
    letter-spacing: 1.98px;
    margin-top: 2rem;
}

.form__control input[type="submit"]:hover {
    background-color: var(--secondary-color);
    color: #FFF;
    cursor: pointer;
}

@media only screen and (max-width: 41.2em) {
    .form {
        width: 100%;
    }

    .form__control {
        width: 90%;
        margin: 3rem auto;
    }

    .form__control > .form__input {
        width: 100%;
    }
}

